.mainFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    flex-direction: column;
}

.mainForm {
    max-width: 23rem;
    margin: 2rem auto;
}

:is(.mainInput, .inputContainer) {
    margin-bottom: 0.35rem;
}

:is(.mainInput, .inputContainer).split {
    display: flex;
    gap: 0.5rem;
}

.mainForm .formBrand {
    font-weight: 900;
    font-size: medium;
}

.mainForm .formBrand::after {
    content: "|";
    color: var(--main-color);
    font: smaller !important;
    line-height: 0.5;
    margin: 1rem;
}

.mainForm :is(h1, h2, h3) {
    margin: 0.25rem 0 0.5rem;
}

.mainForm label, .mainForm .label {
    font-weight: 500;
    font-size: medium;
    text-shadow: 1px 1.2px 1px rgba(200, 200, 200, 0.2),
        2px 2px 10px rgba(0, 0, 0, 0.5);
}

.mainForm .formBody {
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--secondary-bg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.mainForm button:hover {
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.4);
}
.mainForm input:focus {
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.4);
}

.mainForm .formHeader h2 {
    font-size: medium;
    margin-top: 0.64rem;
}
.mainForm .formHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea,
.emoji-wysiwyg-editor {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 0;
    margin: 0.5rem 0;
    outline: none;
    background: var(--main-bg);
    color: var(--main-color);
    font-size: 0.95rem;
    border-radius: 0.5rem;
}

input[type="checkbox"] {
    position: relative;
    height: 12px;
    width: 12px;
}

.mainForm button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    font-weight: 700;
}

form .errors {
    display: flex;
    flex-direction: column;
}

form .errors > * {
    color: var(--red);
    font-size: small;
}

:is(.mainInput, .mainInput__split, .inputContainer).error input,
input.error,
textarea.error,
.emoji-wysiwyg-editor.error,
select.error {
    border: 1px solid var(--red);
}

:is(.mainInput, .mainInput__split, .inputContainer).error input::placeholder {
    color: var(--red);
}

:is(.mainInput, .mainInput__split, .inputContainer).error label {
    color: var(--red);
}

:is(.formError, .formMsg, .error:not(form .error)) {
    text-align: center;
    margin: 0.25rem 0;
    color: var(--red);
    background: var(--secondary-bg);
    padding: 0.5rem 1rem;
    font-size: large;
    border-radius: 0.75rem;
    font-weight: 600;
    max-width: 90%;
    margin: 0.5rem auto;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.4);
}

input[type="radio"] {
    cursor: pointer;
}

.formMsg {
    color: var(--green) !important;
}

.mainForm .btn {
    margin: 0.25rem 0;
    display: block;
    text-align: center;
}

:is(.mainInput, .inputContainer) {
    position: relative;
}

:is(.mainInput, .inputContainer) .emoji-picker-icon{
    position: absolute;
    bottom: 0;
    right: 0;   
    top: auto;
    left: auto;
}

.emoji-picker-icon {
    background-color:orange!important;
    border-radius: 50%!important;
    border-bottom-right-radius: .5rem!important;
    height: 35px;
    width: 37px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


[data-emojiable] {
    height: 100%;
}


textarea + .emoji-wysiwyg-editor {
    flex: 1;
    width: 100%;
    height: 6rem;
    margin-bottom: 0;
}