
.friendsContainer {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.friendsNav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: .5rem;
    background-color: var(--secondary-bg);
    border-radius: 10px;
    margin: .5rem 0.15rem 0;
    flex-wrap: wrap;
}

.friendsNavBtn {
    flex: 1;
    text-align: center;
    background-color: var(--main-bg);
    padding: 1rem 1.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    margin: 0.25rem;
    border: 1px solid transparent;
}

.friendsNavBtn:hover, .friendsNavBtn.active {
    color: var(--white);
    border: 1px solid var(--white);
}

.notFound {
    text-align: center;
    font-size: medium;
    width: 100%;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: max-content;
    text-transform: capitalize;
}

.friendsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1rem;
    position: relative;
}

.friend {
    display: flex;
    gap: .5rem;
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
}

.friendImg {
    /* padding: .25rem; */
    border: 2px double var(--accent-bg);
    border-radius: 50%;
    background-color: var(--main-bg);
    width: 80px;
    height: 80px;
}

.friendName {
    font-weight: 700;
    display: block;
    font-size: 20px;
    color: var(--main-color);
    padding: 0.5rem;
}

.friendImg img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.friendsBtns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .25rem;
}
.friendsBtn {
    display: block;
}

.friendsBtn.danger {
    background-color: var(--red);
}

.friendsBtn.success {
    background-color: var(--green);
}


@media screen and (max-width: 760px) {
    .friendsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 560px) {
    .friendsList {
        grid-template-columns: 1fr;
    }
}