@import url("./comments.css");

.postForm.formContainer {
  padding: 0.5rem 1rem;
  background: var(--secondary-bg);
  width: 100%;
  max-width: unset;
  display: flex;
  flex-direction: column!important;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.5rem;
  border-radius: .5rem;
  margin: 0.5rem auto;
  max-width: 600px;
  position: relative;
}

.choosenFileContainer {
  height: 200px;
  width: 400px;
  /* background-color: var(--accent-bg-opacity); */
  border-radius: .5rem;
  padding: .5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choosenFileContainer > :is(img, video) {
  border-radius: .5rem;
  height: 100%;
  object-fit: cover;
}

.postForm.formContainer label {
  color: white;
  font-weight: 700;
  padding-left: 0.5rem;
}
.postForm.formContainer .postFormFiles {
  background-color: var(--main-bg);
}

.postForm.formContainer .mainInput {
  width: 100%;
}

.postForm.formContainer input[type='file'] {
  display: none;
}
.postForm.formContainer textarea {
  /* min-height: 7rem; */
  width: 100%;
  resize: vertical;
}

.postFormFileIcons {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: xx-large;
  /* position: absolute; */
  bottom: 0;
}

button.fileIcon {
  background-color: var(--accent-color-opacity);
  display: inline-block;
}

.postFormFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.choosenFileContainer.hide {
  display: none;
}

.postForm.formContainer textarea + .emoji-wysiwyg-editor {
  max-height: 40vh!important;
  height: unset !important;
  min-height: 76px!important;
}


/* form ends here */



/* posts */
.userpost {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-bg);
  margin: 1rem auto;
  max-width: 500px;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 0.25rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.postHeader {
  display: flex;
  background-color: var(--main-bg);
  padding: 0.5rem;
  margin: 0.15rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.postUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userProfile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
  object-position: top;
}
.postTime {
  font-size: small;
}

.postContainer {
  margin: 1rem 0 2rem;
}

.postBody {
  padding: 0.5rem;
}

.postText {
  font-size: large;
  padding: 0.5rem;
}

.postImg,
.postVideo {
  width: 100%;
  object-fit: cover;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  align-items: center;
}

.postFooter form {
  margin: 0;
}

.postFooter button {
  border-radius: 99px;
  padding: 0.35rem 0.75rem;
  transform: none !important;
}

.postFooter button.likeBtn {
  padding: 0.35rem 0.15rem 0.35rem 0.75rem !important;
}

.postFooter .postLike.likeBtn:not(.liked) {
  background-color: unset !important;
  border: 2px solid var(--accent-bg);
}

.likeNum {
  display: inline;
  font-weight: 900;
  transform: scale(1.4);
  margin-left: 0.25rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 2px 7.5px;
}

.postContainer {
  /* background-color: #818181; */
  padding: 1rem 0.25rem;
  border-radius: 1rem;
}

@media screen and (min-width: 760px) {
  .postForm.formContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.postPagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.6rem;
  /* background-color: rgba(0,0,0,.3); */
}

.postPagination .btn {
  border: 2px solid white;
}

.commentNavContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentNavContainer button.commentNavBtn {
  border: 1px solid white;
  padding: 0.25rem 0.5rem 0.3rem !important;
  border-radius: 0.25rem;
  margin: 0.5rem 0.25rem;
  background-color: rgba(30, 30, 30, 0.3);
}

.commentNavBtn.hide {
  display: none;
}

.commentNavBtn.nextBtn {
  align-self: flex-end;
}

.sharedPostHeader {
  background-color: var(--main-bg);
  padding: 0.15rem 0.5rem;
  margin-bottom: 0.25rem;

  border-radius: 0.5rem;
}
.sharedPostText {
  background-color: var(--secondary-bg);
  padding: 0.75rem 0.5rem;
  border-radius: 0.25rem;
}

.shareText {
  padding-left: 0.5rem;
}

.postShareForm {
  padding: 0.5rem;
}

/* 
.postShareEditor {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    /* flex-direction: column; */

.postShareEditor {
  margin: 0 auto;
  width: 100%;
  max-width: 500px !important;
}

.postShareEditor .userpost {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5rem;
  border: none;
}

.postShareForm.mainForm {
  max-width: none;
}

.postShareEditor .formBody {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  flex-direction: column;
}

.postShareEditor .formBody .inputContainer {
  width: 100%;
  flex: 6;
}

.postShareEditor textarea + .emoji-wysiwyg-editor {
  max-height: 40vh!important;
  height: unset !important;
  min-height: 76px!important;
}

.postShareForm.mainForm button {
  flex: 1;

  margin: 0;
  margin-top: 0.5rem;
  white-space: nowrap;
  display: inline-block;
  width: auto;
}

/* post options */

.sharedPostHeader,
.postHeader {
  position: relative !important;
  justify-content: flex-start !important;
}

.postTime {
  margin: 0.5rem;
}

.postOptions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.15rem 0.25rem;
}

.postOptions .postOptionsLabel {
  padding: 0.5rem;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  font-size: small;
  justify-content: center;
  align-items: center;
}

.postOptionsLabel:hover {
  background-color: var(--secondary-bg);
}

.postOptions:hover > .postOptionsContainer {
  display: flex!important;
}


.postOptionsContainer {
  position: absolute;
  background-color: var(--main-bg);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  top: 60%;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: .5rem;
  padding: 0.5rem;
  min-width: max-content;
  align-items: flex-start;
  justify-content: center;
  display: none;
}

.postOption {
  width: 100%;
}


.postOptionLink {
  background-color: var(--accent-bg-opacity);
  /* display: block; */
  width: 100%;
  text-align: center;
} 