
@import url("./forms.css");

* {
    box-sizing: border-box;
}

:root {
    --accent-color: #4a5ce6;
    --accent-bg: #7369ee;
    --accent-bg-opacity: #7469ee9f;
    --main-bg: #303942;
    --secondary-bg: #252e35;
    --main-color: #8e9bab;
    --white: white;
    --accent-color-opacity: #4169e149;
    --red: rgb(165, 75, 75);
    --green: rgb(58, 153, 58);

}

body.light {
    --accent-color: #2e398f;
    --accent-bg: #7269ef;
    --accent-bg-opacity: #c5c0fd9f;
    --main-bg: #f5f7fb;
    --secondary-bg: hsl(220, 100%, 74%);
    --main-color: #495057;
    --white: #333;
    --accent-color-opacity: #4169e18a;
}

body {
    color: var(--main-color);
    background-color: var(--main-bg) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-bg);
    box-shadow: 0px 5px 5px 0 var(--secondary-bg);
    border-bottom: 1px solid var(--main-bg);
    align-items: stretch;
    padding: 0 1rem;
    flex-direction: column;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

nav header .navSearch {
    flex: 1;
    width: max-content;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 0.25rem;
    position: relative;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin: 5px;
    line-height: 1.7;
    transition: opacity 0.3s, color 0.3s, background-color 0.3s;
    border-radius: 0.5rem;
    text-transform: uppercase;
    position: relative;
}

nav ul li a:hover {
    background: var(--main-bg);
}

nav .navLogo {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

nav ul li:hover .subNav {
    opacity: 1;
    pointer-events: all;
    transform: translateY(3px) scale(1);
}

nav ul.subNav::before {
    position: absolute;
    bottom: 100%;
    content: "";
    height: 5px;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

nav ul.subNav {
    transform: translateY(3px) scale(0.5);
    opacity: 0;
    padding: 0.5rem;
    background-color: var(--secondary-bg);
    pointer-events: none;
    position: absolute;
    border-radius: 10px;
    transition: 0.3s;
    right: 0;
    max-width: max-content;
    text-align: center;
    box-shadow: 4px 4px 6px rgba(20, 20, 20, 0.3);
    border: 1px solid var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

nav ul.subNav a {
    margin: 0;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::after {
    transform: none;
    visibility: visible;
    transform: translateY(3px);
}

[data-tooltip]::after {
    visibility: hidden;
    pointer-events: none;
    transform: translateY(0);
    position: absolute;
    content: attr(data-tooltip);
    top: 110%;
    background-color: var(--accent-bg-opacity);
    backdrop-filter: blur(10px);
    color: white;
    padding: 0.35rem 0.75rem;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(20, 20, 20, 0.3);
    transition: transform 0.2s ease-in;
    font-size: small;
}

nav li a.active {
    background-color: var(--accent-bg) !important;
    color: white !important;
}

nav .navUserImage {
    border-radius: 50%;
    overflow: hidden;
    border: 2px double var(--accent-bg);
    height: 30px;
    width: 30px;
}

nav .navUserImage img {
    object-fit: cover;
    object-position: top;
    height: inherit;
    width: inherit;
}

.dot {
    display: inline-block;
    height: 4px;
}

.dot::after {
    content: ".";
    font-size: xx-large;
    line-height: 0.4;
}

:is(button, .btn) {
    cursor: pointer;
    border: 0;
    background-color: var(--accent-bg);
    color: white;
    text-transform: uppercase;
    padding: 0.65rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    /* transition-property: opacity, color, background-color; */
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
    --translateX: 0;
    --translateY: 0;
    --scale: 1;
    transform: translateX(var(--translateX)) translateY(var(--translateY))
        scale(var(--scale));
        font-size: .9rem;
}

.hover {
    position: relative;
}

:is(button, .btn, .hover):hover::after {
    content: "";
    background-color: rgba(20, 20, 20, 0.3);
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

:is(button, input, .btn):focus {
    --scale: 1.05;
    box-shadow: 0 0 1px 2px var(--main-color);
}

a,
button,
input,
textarea,
select,
button::after,
button::before {
    transition: 0.3s ease-out;
}

.container {
    max-width: 760px;
    margin: 0 auto;
}

.themeContainer {
    background-color: var(--main-bg);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--accent-color);
}

.themeContainer input:not(:checked) {
    outline: none !important;
    box-shadow: none !important;
}

.badge {
    padding: 0.01rem 0.5rem;
    background-color: var(--red);
    font-size: small;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border: 1.5px solid var(--white);
    box-shadow: 2px 2px 10px rgba(20, 20, 20, 0.3);
    transform: translateY(-10px);
}

/* nav search */

.navSearch .navSearchIcon {
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
}

.navSearchInputContainer {
    position: relative;
}
.navSearchInputContainer input {
    padding-left: 2rem!important;
}

.navSearchResultContainer:focus,
.navSearchResultContainer:hover,
:is(.navSearch.focused, .navSearch input:focus) .navSearchResultContainer,
.navSearch input:focus + .navSearchResultContainer {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.navSearchResultContainer {
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--main-bg);
    z-index: 10;
    box-shadow: 2px 3px 12px rgba(20, 20, 20, 0.6);
    transition: 0.3s ease;
}

:is(.btn, button).danger {
    background-color: var(--red);
}

:is(.btn, button).success {
    background-color: var(--green);
}

.navSearchResultList {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.navSearchResult {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.25rem;
    padding: 0.35rem 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-bg);
    transition: 0.3s;
    border: 1px solid transparent;
}

.navSearchResult:hover {
    background-color: var(--accent-color-opacity);
    border-color: var(--accent-color);
    color: var(--white);
}

.navSearchResultUser {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.navSearchResultUserImg {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.navSearchResultUserImg img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    border-radius: 50%;
    width: 100%;
}

@media screen and (max-width: 760px) {
    nav ul li a {
        padding: 0.5rem 0;
        background: none !important;
        background-color: none !important;
    }
}


.btn-icon {
    border-radius: 9999px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}