@import url("./story_create.css");

.storyContainer {
    display: flex;
    gap: 0.5rem;
    max-width: 760px;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto 1rem;
    min-height: calc(100vh - 65px);
}

.sideBar {
    background-color: var(--secondary-bg);
    padding: 1rem;
    overflow-y: auto;
    /* flex: 1; */
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-radius: 0.5rem;
    align-items: center;
}

.main {
    background: #000;
    border-radius: 10px;
}
.sideBarHeader {
    display: none;
}

.friendStories {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--accent-bg);
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgba(80, 80, 80, 0.8),
        transparent,
        var(--accent-color-opacity)
    );
}

.storiesHeader {
    display: none;
}

.storyList {
    display: flex;
    gap: 0.35rem;
}

.storyList .storyItem {
    display: flex !important;
    gap: 0.05rem;
    border-radius: 1rem;
    padding: 0.25rem;
    padding-top: 0.5rem;
    margin: 0.25rem 0;
    max-width: 300px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 5rem;
    /* max-width: min-content; */
    background: var(--secondary-bg);
    border: 2px solid rgba(0, 0, 0, 0.705);
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.363);
}

.storyItem.active {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color-opacity);
}

.storyItem:hover {
    background-color: var(--accent-color-opacity);
}

.storyImg {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: inherit;
    border: 2px solid var(--accent-bg);
    align-self: flex-start;
}

.storyImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.storyCount {
    color: var(--white);
    font-size: x-small;
    /* font-style: italic; */
    white-space: nowrap;
    padding-left: 0.15rem;
}
.myStory .storyCount {
    color: #333;
}

.storyItemBtn {
    display: none;
}

.storyDetails {
    display: inline-flex;
    font-size: smaller;
    flex-direction: column;
    align-items: center;
}

.storyName {
    /* padding-top: 0.25rem; */
    display: block;
    color: var(--white);
    font-size: small;
    text-align: center;
}

.storyData {
    font-size: x-small !important;
    font-style: italic;
    display: inline-block;
    justify-self: end;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

.main {
    position: relative;
    height: 70vh !important;
    width: 100%;
    padding: 1rem;
    flex: 2.7;
    display: flex;
    justify-self: center;
    align-items: center;
}

.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centerText .previewHeader {
    /* color: var(--accent-color); */
    margin-bottom: 0rem;
}

.centerText p {
    margin-top: 0.15rem;
    font-size: small;
}

/* mystory */

.myStoryHeader {
    display: none;
}

.myStory {
    display: flex;
    gap: 0.25rem;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 10px;
    align-items: stretch;
}

.storyCreate {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.35rem;
}

.storyCreateBtn {
    /* border-radius: 10px; */
    background-color: var(--accent-color);
    font-size: 12px;
    transition: 0;
    padding: 0.25rem 1rem;
}

.createText {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
    /* background: #000; */
}

.createText .createStoryHeader {
    margin: 0;
    font-size: small;
    margin-bottom: 0.15rem;
    font-weight: 800;
}

/* user story */
.storyPreviewContainer {
    width: 300px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-width: 100%;
}

.storyPreview {
    background: var(--secondary-bg);
    /* height: 100%; */
    border-radius: 0.5rem;
    overflow: auto;
    flex: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.storyPreviewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.storyPreviewVideo {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    /* z-index: -10; */
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.storyPreview::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.363);
    pointer-events: none;
}

.storyPreviewNextButton,
.storyPreviewPrevButton {
    background-color: transparent;
    background-image: linear-gradient(
        to right,
        var(--accent-color),
        var(--accent-color-opacity)
    );
    backdrop-filter: blur(2px);
    font-size: smaller;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute!important;
    top: 50%;
    left: 100%;
    --translateX: -50%!important;
    --translateY: -50%!important;
    padding: 0.5rem 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 1px 2px var(--white);
}

.storyPreviewPrevButton {
    left: 0 !important;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.storyPreviewReply {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: .25rem;
}
.storyPreviewReplyInput {
    flex: 1;
    border: 2px solid var(--white);
    /* background-color: #000; */
    background: var(--secondary-bg);
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 99px;
    width: 100%;
    margin-right: 0.5rem;
    color: white;
    font-size: medium;
}

.storyPreviewControls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.705),
        transparent
    );
    padding: 0.5rem;
}

.storyPreviewUser {
    display: flex;
    justify-content: start;
    align-items: center;
}

.storyPreviewUserInfo {
    padding-left: 0.5rem;
}

.storyPreviewUserName {
    color: white;
}

.storyPreviewTime,
.storyPreviewViews {
    color: white;
    font-size: smaller;
}

.storyPreviewUserImg {
    border: 2px solid var(--white);
    overflow: hidden;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.storyPreviewUserImg img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* height: 30px; */
    object-fit: cover;
    object-position: top;
}

.storyPreviewProgressContainer {

    height: 5px;
    background-color: rgba(255, 255, 255, 0.363)!important;
    border: 0!important;
    border-radius: 99px;
    margin: 0.16rem 0;
    margin-bottom: 0.75rem;
    backdrop-filter: blur(10px);
}

.storyPreviewProgress {
    height: inherit;
    width: 80%;
    background: #fff;
    border-radius: inherit;
}

.storyPreviewMediaControls {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    align-self: flex-end;
    position: absolute;
    top: 30px;
    right: 20px;
}

.storyPreviewMediaControlIcon {
    background: white;
    border-radius: 99px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.storyPreviewMediaControlIcon:hover {
    transform: scale(1.07);
    box-shadow: 0 0 1px 2px var(--accent-bg);
}

.storyPreviewMediaControlIcon img {
    height: 26px;
    color: white;
    width: 26px;
    color: white;
}

.storyDesc {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.34rem;
    font-weight: 800;
    color: var(--white);
    letter-spacing: 2px;
    font-family: cursive;
    text-shadow: 1px 1px 10px /*var(--accent-color)*/rgba(0, 0, 0, 0.363);
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 0.5rem;
    padding: .5rem .25rem;
    max-height: 100%;
    width: 97%;
    margin-bottom: 0.75rem;
    line-height: 1.20;
}

.storyDesc.centered {
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
}

/* more progress bars */

.storyPreviewProgressBars {
    display: flex;
    gap: 0.25rem;
}

.storyPreviewProgressContainer:not(.active) .storyPreviewProgress {
    background-color: transparent;
}
.storyPreviewProgressContainer.done:not(.active) .storyPreviewProgress {
    background-color: white;
    width: 100%;
}


/* hidden */
.hide {
    display: none;
}
